<ion-app>
  <!-------------------------------------------------- Menu usuário ------------------------------------->
  <ion-menu menuId="menu-usuarios" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">

        <img src="../assets/image-perfil/faelproject.jpg" alt="">

        <ion-label>
          <h2>FaelProject</h2>
          <p>Programador</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon> Adicionar foto
        </ion-button>
      </div>

      <ion-list class="menu-items" lines="none">
        <ion-item>
          <ion-icon name="pie-chart-outline"> </ion-icon> Dashboard
        </ion-item>


        <ion-item>
          <ion-icon name="browsers-outline"> </ion-icon> Ver vídeos
        </ion-item>

        <ion-item class="active">
          <ion-icon name="flash"></ion-icon> Descobrir talentos
        </ion-item>

        <ion-item>
          <ion-icon name="chatbubble-ellipses-outline"> </ion-icon> Mensagens
        </ion-item>

        <ion-item>
          <ion-icon name="heart-outline"> </ion-icon>Aprenda mais
        </ion-item>

        <ion-item>
          <ion-icon name="exit-outline"> </ion-icon>Sair
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-menu>

  <!---------------------------------------------------------------->

  <!-------------------------------------------------- Menu principal ---------------------------------------->



  <ion-app [class.dark-theme]="dark">
    <ion-menu side="start" menuId="menu-principal" contentId="main">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-avatar>
              <ion-img src="assets/icon.png"></ion-img>
            </ion-avatar>
            <ion-label class="ion-padding avartuser">
              <h2>#Muito Mais Linda</h2>
              <p>Nós vendemos estilos</p>
            </ion-label>
          </ion-list-header>
  
          <!-- Menus do APP -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none">
              <ion-icon slot="start" name="moon-outline"></ion-icon>
              <ion-label>
                Dark Mode
              </ion-label>
              <ion-toggle (click)="themeDark()"></ion-toggle>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
  
        <!-- Adminstração -->
        <ion-list class="inbox-list" *ngIf="!admin">
          <ion-list-header class="label">Gerencia</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" routerDirection="root" [routerLink]="['admProdutos']">
              <ion-icon slot="start" name="gift-outline"></ion-icon>
              <ion-label>
                Produtos
              </ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon slot="start" name="people-outline"></ion-icon>
              <ion-label>
                Usuarios
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
  
        <!-- Label de Busca -->
        <ion-list id="labels-list">
          <ion-list-header class="label">Categorias</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let label of labels" lines="none">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
  
      </ion-content>
    </ion-menu>
    <!-- Barra de Titulo -->
    <!-- <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Nome do Usuario</ion-title>
      </ion-toolbar>
    </ion-header> -->


  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>