<ion-header>
  <div class="fundoHeader">



    <ion-buttons slot="start">
      <div id="buttonLogin">
        <ion-button routerLink="/login"> <span id="textLogin"> Login </span>
          <ion-icon class="ion-activatable ripple-parent" style="color:#ffffff;" name="log-in"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    <h2>Página Inicial</h2>
    <ion-menu-toggle>
      <ion-buttons>
        <ion-menu-button menu="menu-principal"></ion-menu-button>
      </ion-buttons>
    </ion-menu-toggle>
  </div>


</ion-header>

<ion-content>
  <div class="fundoContent">
    <div id="logo">
      <img src="../assets/img/logo.png" alt="">
    </div>
    <div id="container">
      <strong><br> Seeking Talents</strong>
      <br><br>
      <p> Bem Vindo(a) ao Seeking Talents, tá precisando de uma ajudinha pra se descobrir profissionalmente? A gente
        está aqui pra isso!
        Desenvolvemos esse aplicativo para te ajudar nesse momento tão importante da sua vida. Quer saber como? <br>
        <br></p>

      <ion-buttons>
        <div id="buttonSaiba"><a target="_blank" rel="noopener noreferrer"
            href="https://ionicframework.com/docs/components">
            <ion-button class="ion-activatable ripple-parent"> <span id="textSaiba">Saiba mais </span></ion-button>
          </a></div>
      </ion-buttons>
    </div>
    <h5>
      EQUIPE DE DESENVOLVEDORES: <br><br>
      Caio Henrique: Marketing <br>
      Diego Amaro: Marketing e Designer <br>
      Rafael Nascimento: Programador e Designer.
    </h5>
    <h6>
      copyright © FaelProject 2020
    </h6>
    <br>
  </div>
</ion-content>




<!-- 
  
  <ion-footer class="footer">
    <span id="desenvolvido">Desenvolvido por: Diego Amaro, Caio Henrique, Rafael Nascimento. </span> 
    <br>
    <br>

    <span id="copyright">copyright © FaelProject 2020 </span>
</ion-footer>

-->